span#subtitle {
  font-size: 24px;
}

.size {
  padding-bottom: 20px;
}

.results {
  display: none;
}

.header {
  text-align: center;
  font-size: 70px;
  color: #7F0000;
  background-color: #D5B480;
}
